.movieshelf-cont {
  width: 960px;
  margin: 0 auto;
  padding: 2rem;
  border-left: 2px solid var(--color-dark);
  border-right: 2px solid var(--color-dark);
  height: calc(100vh - 85px);
  overflow: hidden;
  padding-bottom: 2rem;
}
.movie-page {
  display: flex;
}

.movie-side-section {
  position: absolute;
  right: 0;
  margin: 1rem;
}
