.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center; /* Ortala */
  align-items: center;
  padding: 20px 0;
  background: rgba(20, 20, 20, 0.95); /* Arka plan ekle, şeffaf olabilir */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.navbar-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
.nav-brand {
  color: white;
  font-size: 2rem;
}

.navbar-links {
  display: flex;
  gap: 1.2rem;
}
.nav-link {
  color: white;
  font-weight: lighter;
  text-decoration: underline;
  letter-spacing: 1px;
}
