.movie-list {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  height: calc(100vh - 400px);
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-dark) transparent;
  border: 2px solid var(--color-dark);
  border-radius: 5px;
  box-sizing: border-box;
}
