.movie-list {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
    height: calc(100vh - 200px);
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-dark) var(--color-light-gray);
}
