.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 200;
  height: 80px;
  width: 100%;
  border-top: 2px solid var(--color-dark);
  display: flex;
  justify-content: center;
  background-color: var(--color-light-gray);
}
.footer-content {
  border-right: 2px solid var(--color-dark);
  border-left: 2px solid var(--color-dark);
  height: 100%;
  display: flex;
  justify-content: space-between;
  width: 960px;
  align-items: center;
  padding: 0 2rem;
}
.footer-header {
  color: var(--color-red);
  font-size: 1.2rem;
  font-weight: 500;
  padding: 8px 0px;
  text-decoration: none;
}

.footer-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.footer-buttons button {
  background: var(--color-red);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1.2rem;
  font-size: 0.8rem;
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background 0.2s, box-shadow 0.2s;
  box-shadow: 0 2px 8px rgba(230, 57, 70, 0.08);
}

.footer-buttons button:hover,
.footer-buttons button:focus {
  background: #b71c1c;
  outline: none;
}
