.movie-card {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid var(--color-dark);
  border-right: 2px solid var(--color-dark);
}
.movie-card-media {
  width: 20vw;
  max-width: 100px;
  min-width: 60px;
  aspect-ratio: 2/3;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  margin-right: 1.5rem;
  flex-shrink: 0;
}
.movie-card-poster {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}
.movie-card-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-card-details {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.movie-card-title {
  margin: 0;
  font-size: 1.5rem;
}
.movie-card-director {
  margin: 0;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.3);
  margin-bottom: 0.5rem;
}
.movie-card-meta {
  margin: 0;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.movie-card-rating {
  font-size: 1.5rem;
  margin: 0;
}
.movie-card-rating span {
  color: goldenrod;
}
.movie-card-user-stats-buttons {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  margin-right: 1rem;
  gap: 1rem;
}
.movie-card-user-rating span {
  color: goldenrod;
}

.movie-card-button {
  background: var(--color-red);
  color: var(--color-light-gray);
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1.2rem;
  font-size: 1.5rem;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s, box-shadow 0.2s;
  box-shadow: 0 2px 8px rgba(230, 57, 70, 0.08);
}

.movie-card-director {
  color: var(--color-dark);
}
