.movie-card {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid var(--color-dark);
  border-right: 2px solid var(--color-dark);
  cursor: pointer;
}
.movie-card:hover {
  background-color: #fff;
}
.movie-card-media {
  width: 20vw;
  max-width: 100px;
  min-width: 60px;
  aspect-ratio: 2/3;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  margin-right: 1.5rem;
  flex-shrink: 0;
}
.movie-card-poster {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}
.movie-card-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-card-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.movie-card-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-dark);
  line-height: 1rem;
}
.movie-card-director {
  margin: 0;
  font-size: 1.1rem;
  color: var(--color-dark);
  font-weight: 400;
}
.movie-card-meta {
  margin: 0;
  font-size: 1rem;

  display: flex;
  align-items: center;
}

.movie-card .movie-card-rating {
  font-size: 1.5rem;
  color: var(--color-dark);
  margin-right: 1rem;
}
.movie-card-rating span {
  color: goldenrod;
}
.movie-card-user-stats-buttons {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  margin-right: 1rem;
  gap: 1rem;
}
.movie-card-user-rating span {
  color: goldenrod;
}

.movie-card-button {
  background: none;
  border: none;
  color: var(--color-dark);
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  margin: 0rem;
  align-self: flex-start;
  transition: color 0.2s;
  line-height: 1rem;
}
.movie-card-button:hover {
  color: var(--color-red);
}
.movie-card-director {
  color: var(--color-dark);
}
.watched-card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-width: 350px;
  justify-content: center;
}
.watched-card-user-rating {
  font-size: 1.3rem;
  font-weight: bold;
}
.watched-card-user-rating .star {
  color: goldenrod;
  font-size: 1.5rem;
}
.movie-card-row {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.watchlater-card-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: var(--color-light-gray);
  border-radius: 4px;
}

.watchlater-card-added-date {
  text-align: center;
  color: var(--color-dark);
  font-size: 1rem;
  font-weight: 500;
}
